{% include 'header.html'%}
<div class="row justify-content-center">

<div class="col-6 p-lg-5">
    <form class="form-control" method='POST'>
    {% csrf_token %} 
        
        <h1 class="book_text pt-lg-5 pb-lg-5">Register</h1>
        <div class="form-group pl-lg-5 pr-lg-5 pb-lg-2">
            <label>FIRST NAME:</label>
            <input type="text" class="form-control" placeholder="Enter your first name here" name="fname">
        </div>
        <div class="form-group pl-lg-5 pr-lg-5 pb-lg-2">
            <label>LAST NAME:</label>
            <input type="text" class="form-control" placeholder="Enter your last name here" name="lname">
        </div>
        <div class="form-group pl-lg-5 pr-lg-5 pb-lg-2">
            <label>MOBILE NO.:</label>
            <input type="text" class="form-control" placeholder="Enter your mobile number here" name="mobile">
        </div>
        <div class="form-group pl-lg-5 pr-lg-5 pb-lg-2">
            <label>USERNAME:</label>
            <input type="text" class="form-control" placeholder="Enter your username here" name="username">
        </div>
        <div class="form-group pl-lg-5 pr-lg-5 pb-lg-2">
            <label>EMAIL:</label>
            <input type="email" class="form-control" placeholder="Enter your email here" name="email">
        </div>
        <div class="form-group pl-lg-5 pr-lg-5 pb-lg-2">
            <label>PASSWORD:</label>
            <input type="password" class="form-control" placeholder="Enter password" name="pass1">
        </div>
        <div class="form-group pl-lg-5 pr-lg-5 pb-lg-2">
            <label>CONFIRM PASSWORD:</label>
            <input type="password" class="form-control" placeholder="Reenter password" name="pass2">
        </div>
      
       <div class="pl-lg-5 pb-lg-4"> <button type="submit" class="btn btn-outline-primary">Submit</button></div>
    </form>
    {% for i in messages%}
        <p class="alert alert-danger">{{ i }}</p>
    {% endfor %}
 </div>
</div>
{% include 'footer.html'%}